@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $dark-Blue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: $dark-Grayish-Blue;
  padding: 3rem;
  border-radius: 1.5rem;
  position: relative;

  &__advise-number {
    text-align: center;
    text-transform: uppercase;
    color: $neon-Green;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin-bottom: 2rem;
  }

  &__advise {
    color: $light-Cyan;
    font-family: $manrope;
    line-height: 3.3rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__btn {
    position: absolute;
    bottom: -13%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $neon-Green;
    transition: all 0.3s;
    border: none;

    &:hover {
      box-shadow: 0 0 30px $neon-Green;
    }
  }
}
